<%= render 'shared/navbar' %>
<div class="container">
  <h1>My libraries:</h1>
</div>
<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('image_logo_03') %>)">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
</div>
