<div class="container">
  <h1>New Bookmark</h1>
  <%= simple_form_for [@bookmark, @list] do |f|  %>
    <%= f.input :comment%>
    <%= f.association :movie%>
    <%= f.submit 'create my bookmark', class: 'btn btn-info mt-2'%>
  <%end%>
</div>
