<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex justify-content-center">
      <li class="nav-item active">
        <%= link_to "Home", lists_path(@lists), class: "btn btn-ghost m-2" %>
      </li>
      <li class="nav-item active">
        <%= link_to "New list", new_list_path, class: "btn btn-ghost m-2" %>
      </li>
    </ul>
  </div>
</div>
